@charset "UTF-8";


/* fin du reset eric meyer */

#container {
    background: greenyellow;
    width: 1200px;
    margin: auto;
    text-align: center;
}

header {
    height: 200px;  
}

nav {
    height: 150px;
    background: blue;
}

.section {
    height: auto;
    background: pink;
    margin: 43px;
}

.image {
    float: left;
    padding: 30px 10px 30px 10px;
}

.image figure img {
    overflow: hidden;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}

.image figure img:hover,
.image figure img:focus {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    
}

footer {
    height: 80px; 
    background: yellow;
}

.clear {
    clear: both;
}

figcaption {
    color: white;
    width: 100%;
    background: #000;
    opacity: 0.7;
    position: relative;
    text-align: center;
    bottom: 20px;
}

.bloc {
    margin-left: 20%;
}